doctype html
html(lang='en')
	head
		title Alexia Peresson
		link(rel="stylesheet" type="text/css" href="stylesheets/css/style.css")
		meta(name="viewport" content="width=device-width")
	body
		// #loader-wrapper
		// #loader 
		#presentation
			.txt
				p You should definitly hover me
		script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.js")
		script(src="scripts/hello_steering.js")
