html, body {
  background: rgba(247,215,243,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(247,215,243,1) 0%, rgba(247,222,244,1) 32%, rgba(247,225,241,1) 60%, rgba(242,230,239,1) 86%, rgba(247,232,247,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247,215,243,1)), color-stop(32%, rgba(247,222,244,1)), color-stop(60%, rgba(247,225,241,1)), color-stop(86%, rgba(242,230,239,1)), color-stop(100%, rgba(247,232,247,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(247,215,243,1) 0%, rgba(247,222,244,1) 32%, rgba(247,225,241,1) 60%, rgba(242,230,239,1) 86%, rgba(247,232,247,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(247,215,243,1) 0%, rgba(247,222,244,1) 32%, rgba(247,225,241,1) 60%, rgba(242,230,239,1) 86%, rgba(247,232,247,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(247,215,243,1) 0%, rgba(247,222,244,1) 32%, rgba(247,225,241,1) 60%, rgba(242,230,239,1) 86%, rgba(247,232,247,1) 100%);
  background: radial-gradient(ellipse at center, rgba(247,215,243,1) 0%, rgba(247,222,244,1) 32%, rgba(247,225,241,1) 60%, rgba(242,230,239,1) 86%, rgba(247,232,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d7f3', endColorstr='#f7e8f7', GradientType=1 );
  margin: 0;
  overflow: hidden;
}

#container {
  height: 100vH;
  width: 100vW;
}
#hello {
  height: 100vH;
  width: 100vW;
  background-color: #D79FD9;
  margin: 0;
  padding: 0;
  }

#border {
  position: absolute;
  width: 90vW;
  height: 80vH;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -40vH 0 0 -45vW;
  border-width: 0.6vh 0.6vw;
  border-style: solid;
  border-color: #fafafa;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  box-shadow: 5px 5px 30px #fafafa;
}

#text_1 {
  margin-top: 22%;
  font-size: 2.8vH;
  font-weight: 900;
  opacity: 0;
  color: #fafafa;
}

#text_2 {
  color: #fafafa;
  margin-top: 1%;
  font-size: 2.3vH;
  font-weight: bold;
  text-align: center;
  background-color: rgba(215,159,217,0);
}

table {
  float: left;
  background-color: rgba(215,159,217,0);
}
